<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" href="css/partialGraph.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <h1 class="header">Applications to Various Programs</h1>
        <table class="data_table" id="patient_tableAPP">
            <tr>
                <th>ApplicationType</th>
                <th>PatientAmount</th>
                <th>RecordedYear</th>
            </tr>
            <% patient.forEach(function(o) { %>
                <tr><td><%= o.ApplicationType %></td> <td><%= o.PatientAmount %></td><td><%= o.RecordedYear %></td></tr>
            <% }); %>
        </table>
        <div class="canvas_container">
            <canvas id="myChartAPP" ></canvas>
        </div>
        <script src="javascript/array.js" type="text/javascript"></script>
        <script>
        const chosenFieldAPP = "PatientAmount"
        let dataArrayAPP = returnArrayFromTable("patient_tableAPP");
        let yearsAPP = makeYearArray(dataArrayAPP, "RecordedYear");
        let valuesArrayAPP = desiredArrayByYear("All Years", dataArrayAPP, chosenFieldAPP);
        let labelArrayAPP = makeLabelArray(dataArrayAPP, "ApplicationType", true, false);
        let colorArrayAPP = makeMultipleColorArray(2,false, yearsAPP.length );
        let globalChartAPP = generateChartPartial(labelArrayAPP, valuesArrayAPP, colorArrayAPP, "Number Of Patient Applications", 'bar', 'myChartAPP' );

        </script>
           
    </body>
</html>

 