<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" href="css/style.css" rel="stylesheet">
        <title>
            Patient Demographics
        </title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
    </head>
    <body>
        <h1 class="header">Demographics from MASS Clinic</h1>
        

        <table class="data_table" id="demographics_table">
            <tr>
                <th>Demographic Type</th>
                <th>Amount of Patients</th>
                <th>Year</th>
            </tr>
            
            <% demographics.forEach(function(o) { %>
                <tr>
                    <td><%= o.DemographicType %></td>
                    <td><%= o.PatientAmount %></td>
                    <td><%= o.RecordedYear %></td>
                </tr>
            <% }); %>

        </table>
        <style>
            #aligned{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            .chartBox{
                height: 400px;
                width: 400px;
                text-align: center;
            }
        </style>

        <div id="aligned">
            <!--first donut graph for gender-->
            <div class="chartBox">
                <h3>Gender</h3>
                <canvas id="genderDonutGraph" width="200" height="200"></canvas>
            </div>

            <!--third donut graph for race-->
            <div class="chartBox">
                <h3>Race</h3>
                <canvas id="raceDonutGraph" width="200" height="200"></canvas>
            </div>
        </div>
        
        <script src="javascript/array.js" type="text/javascript"></script>
        <script>
            let demographicTypeArray =[];
            let demogrpahicPatientAmountArray = [];
            let demographicRecordedYear = [];

            let dataArray = returnArrayFromTable("demographics_table");
            let years = makeYearArray(dataArray, "Year");

            //gender logic
            let genderArray = [];
            dataArray.forEach(element => {
                if(element['Demographic Type'] == 'Male' || element['Demographic Type'] == 'Female'){
                    genderArray.push(element);
                }
            });
            let chosenField = 'Amount of Patients'
            let GenderDataArray = dataArrayByYear(genderArray, 2019, "Year");
            let valuesArray = desiredArrayByYearWithYearName(2019, GenderDataArray, chosenField, 'Year');
            let labelArray = makeLabelArray(GenderDataArray, "Demographic Type", false);
            let colorArray = makeMultipleColorArray( 2, false, 1);
            let globalChart = generateChartGiveIdNoLegend(labelArray, valuesArray, colorArray, "Number Of Patients", 'pie', 'genderDonutGraph' )

            //race logic
            let raceArray = [];
            dataArray.forEach(element => {
                if(element['Demographic Type'] == 'African American' || element['Demographic Type'] == 'Hispanic / Latino' || element['Demographic Type'] == 'Multi-Racial' || element['Demographic Type'] == 'White' || element['Demographic Type'] == 'Other'){
                    raceArray.push(element);
                }
            });
            let chosenRaceField = 'Amount of Patients'
            let raceDataArray = dataArrayByYear(raceArray, 2019, "Year");
            let valuesRaceArray = desiredArrayByYearWithYearName(2019, raceDataArray, chosenRaceField, 'Year');
            let labelRaceArray = makeLabelArray(raceDataArray, "Demographic Type", false);
            let colorRaceArray = makeMultipleColorArray( 5, false, 1);
            let globalRaceChart = generateChartGiveIdNoLegend(labelRaceArray, valuesRaceArray, colorRaceArray, "Number Of Patients", 'pie', 'raceDonutGraph' )

        </script>
    </body>
</html>