<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link type="text/css" href="css/partialGraph.css" rel="stylesheet">
    <title>HbA1c Testing 2019</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="content">
        <h1 class="header">HbA1c Testing 2019</h1>
        <table class="data_table" id="patients_tableHbA1c" >
            <tr>
                <th>PatientAmount</th>
                <th>LevelOfControl</th>
            </tr>
            <% patients.forEach(function(o) { %>
                <tr><td><%= o.PatientAmount %></td><td><%= o.LevelOfControl %></td></tr>
            <% }); %>
        </table>
        <div class="canvas_container">
            <canvas id="myChartHbA1c"></canvas>
        </div>

        <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        //name of column you want data from
        const chosenFieldHbA1c = "PatientAmount"
        //giving function table id
        let dataArrayHbA1c = returnArrayFromTable("patients_tableHbA1c");
        //gets array of values
        let valuesArrayHbA1c = desiredArrayByYear("All Years", dataArrayHbA1c, chosenFieldHbA1c);
        //gets labels
        let labelArrayHbA1c = makeLabelArray(dataArrayHbA1c, "LevelOfControl", false);
        //gets colors array - currently can only create array of one color
        let colorArrayHbA1c = makeMultipleColorArray(4, false, 1);
        //creates graph
        let globalChartHbA1c = generateChartPartial(labelArrayHbA1c, valuesArrayHbA1c, colorArrayHbA1c, "PatientAmount", 'bar',"myChartHbA1c" );

    </script>
    </div>
</body>
</html>