<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link type="text/css" href="css/partialGraph.css" rel="stylesheet">
    <title>General Referral</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <h2 class="header">Patient No Show by Percent</h2>
        <table class="data_table" id="patient_tableNS" >
            <tr>
                <th>RecordedYear</th>
                <th>PercentAmount</th>
            </tr>
            <% patient.forEach(function(o) { %>
                <tr><td><%= o.RecordedYear %></td><td><%= o.PercentAmount %></td></tr>
            <% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChartNS" width="200" height="200"></canvas>
        </div>

        <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        const chosenFieldNS = "PercentAmount";
        let dataArrayNS = returnArrayFromTable("patient_tableNS");
        let valuesArrayNS = desiredArrayByYear("All Years", dataArrayNS, chosenFieldNS);
        let labelArrayNS = makeLabelArray(dataArrayNS, "RecordedYear", false);
        let colorArrayNS = makeColorArray(dataArrayNS);
        let globalChartNS = generateChartPartial(labelArrayNS, valuesArrayNS, colorArrayNS, "Percent of Patients", 'bar', "myChartNS" );

    </script>
</body>
</html>