<!DOCTYPE html>
<html>
    <head>
        <title>
            Referrals to and from Mass clinic
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" href="css/partialGraph.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <h2 class="header">Patients Referred to Telehealth</h2>
        <table class="data_table" id="patient_tablePRTT" >
            <tr>
                <th>PatientType</th>
                <th>PatientAmount</th>
                <th>RecordedYear</th>
            </tr>
            <% patient.forEach(function(o) { %>
                <tr><td><%= o.PatientType %></td><td><%= o.PatientAmount %></td><td><%= o.RecordedYear %></td></tr>
            <% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChartPRTT" width="200" height="200"></canvas>
        </div>
        <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        const chosenFieldPRTT = "PatientAmount";
        let dataArrayPRTT = returnArrayFromTable("patient_tablePRTT");
        let yearsPRTT = makeYearArray(dataArrayPRTT, "RecordedYear");
        let valuesArrayPRTT = desiredArrayByYear("All Years", dataArrayPRTT, chosenFieldPRTT);
        let labelArrayPRTT = makeLabelArray(dataArrayPRTT, "PatientType", false);
        let colorArrayPRTT = makeMultipleColorArray(3, false, yearsPRTT.length);
        let globalChartPRTT = generateChartPartial(labelArrayPRTT, valuesArrayPRTT, colorArrayPRTT, "Number Of Patients", 'bar' , "myChartPRTT");
    </script>
        
    </body>
</html>
