<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Patient Accessability</title>
    <link type="text/css" href="css/partialGraph.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h2 class="header">Time it Takes a Patient to Get an Appointment</h2>
    <table class="data_table" id="patient_tablePA" >
        <tr>
            <th>AmountOfTime</th>
            <th>PercentAmount</th>
            <th>TotalAmount</th>
            <th>SpecifcAmount</th>
        </tr>
        <% patient.forEach(function(o) { %>
            <tr><td><%= o.AmountOfTime %></td><td><%= o.PercentAmount %></td><td><%= o.TotalAmount %></td><td><%= o.SpecifcAmount %></td></tr>
        <% }); %>
    </table>
    <div id="canvas_container">
        <canvas id="myChartPA" width="200" height="200"></canvas>
    </div>
    
    <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        const chosenFieldPA = "PercentAmount"
        let dataArrayPA = returnArrayFromTable("patient_tablePA");
        let valuesArrayPA = desiredArrayByYear("All Years", dataArrayPA, chosenFieldPA);
        let labelArrayPA = makeLabelArray(dataArrayPA, "AmountOfTime", false);
        let colorArrayPA = ['rgb(66, 179, 229 )', 'rgb(45, 187, 204 )', 'rgb(23, 195, 178 )', 'rgb(13, 164, 192 )', 'rgb(3, 132, 206 )', 'rgb(26, 109, 185 )', 'rgb(49, 86, 163 )', 'rgb(11, 49, 66 )'];
        let globalChartPA = generateChartPartial(labelArrayPA, valuesArrayPA, colorArrayPA, "How Accessible", 'pie', 'myChartPA');
    </script>
</body>
</html>