<!DOCTYPE html>
<html>
    <head>
        <title>
            Patient Demographics
        </title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <style>
            .chartBox{
                width:300px;
            }
            *{
                margin: 0px;
                padding: 0px;
                padding-top: 20px ;
            }
            
            h1{
                text-align: center;
                margin: 0px auto;
                width: 50%;
            }
            table{
                border-collapse: collapse;
            }
            table, td, th{
                border: 1px solid black ;
                text-align: center;
                padding:5px;
            }
            #genderDonutGraph, #ageDonutGraph, #raceDonutGraph {
            width: 320px;
            height: 350px;
            }
            .chartBox{
                float: left;
            }
            .data_table{
                visibility: collapse;
            }
        </style>
    </head>
    <body>
        <h1 class="header">Demographics from MASS Clinic</h1>
        <a href="/">Home</a>

        <table class="data_table" id="demographics_table">
            <tr>
                <th>Demographic Type</th>
                <th>Amount of Patients</th>
                <th>Year</th>
            </tr>
            
            <% demographics.forEach(function(o) { %>
                <tr>
                    <td><%= o.DemographicType %></td>
                    <td><%= o.PatientAmount %></td>
                    <td><%= o.RecordedYear %></td>
                </tr>
            <% }); %>

        </table>


        <div id="aligned">
            <!--first donut graph for gender-->
            <div class="chartBox">
                <canvas id="genderDonutGraph"></canvas>
            </div>

            <!--second donut graph for age-->
            <div class="chartBox">
                <canvas id="ageDonutGraph"></canvas>
            </div>

            <!--third donut graph for race-->
            <div class="chartBox">
                <canvas id="raceDonutGraph"></canvas>
            </div>
        </div>

        
        <script>
            let demographicTypeArray =[];
            let demogrpahicPatientAmountArray = [];
            let demographicRecordedYear = [];
            
            function arrayTable(table_id){
                let table = document.getElementById(table_id).rows;
                for(let i = 1; i < table.length; i++ ){
                    demographicTypeArray.push(table[i].cells[0].childNodes[0].nodeValue);
                    demogrpahicPatientAmountArray.push(table[i].cells[1].childNodes[0].nodeValue);
                    demographicRecordedYear.push(table[i].cells[2].childNodes[0].nodeValue);
                }//end for
            }//end function
            arrayTable("demographics_table");
            
            //First Donut Graph data, config and render
            //data for gender
            const dataGender = {
                labels: [demographicTypeArray[0], demographicTypeArray[3]],
                        //['Male', 'Female'],
                datasets: [
                    {
                        label: 'Number of',
                        data: [demogrpahicPatientAmountArray[0], demogrpahicPatientAmountArray[3]],
                        //[714, 1128],
                        backgroundColor: [
                            'rgb(54, 162, 235)',
                            'rgb(255, 99, 132)',
                        ],
                        borderColor: [
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                        ],
                        borderWidth: 2,
                    }]
            };
            //config for first donut graph
            const configGender = {
                    type: 'doughnut',
                    data: dataGender,
                    options: {
                        cutoutPercentage: 80,
                        animation: {
                            animateScale: true,
                        }
                    }   
            };
            //render init block for first donut graph
            const genderDonutGraph = new Chart(
                document.getElementById('genderDonutGraph'),
                configGender
            );
            
        
            //Second Donut Graph data, config and render
            //data for age
            const dataAge = {
                labels: [demographicTypeArray[6], demographicTypeArray[9]],
                    //['19+', '18 and under'],
                datasets: [
                    {
                        label: 'Age of Patient',
                        data: [demogrpahicPatientAmountArray[6], demogrpahicPatientAmountArray[9]],
                        //[1834, 0],
                        backgroundColor: [
                            'rgb(0, 128, 0)',
                            'rgb(255, 0, 0)',
                        ],
                        borderColor: [
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                        ],
                        borderWidth: 2,
                    }]
            };
            //config for second donut graph
            const configAge = {
                type: 'doughnut',
                data: dataAge,
                options: {
                    cutoutPercentage: 80,
                    animation: {
                        animateScale: true,
                    }
                }   
            };
            //render second graph
            const ageDonutGraph = new Chart(
                document.getElementById('ageDonutGraph'),
                configAge
            );
            //Third Donut Graph data, config and render
            //data for age
            const dataRace = {
                labels: [demographicTypeArray[12], demographicTypeArray[15], demographicTypeArray[18], demographicTypeArray[21], demographicTypeArray[24], demographicTypeArray[27]],
                //['African-American', "Hispanic/Latino", "Multi-Racial", "White", "Other", "Undeclared"],
                datasets: [
                    {
                        label: 'Race of Patient',
                        data: [demogrpahicPatientAmountArray[12], demogrpahicPatientAmountArray[15], demogrpahicPatientAmountArray[18], demogrpahicPatientAmountArray[21], demogrpahicPatientAmountArray[24], demogrpahicPatientAmountArray[27]],
                        //[565, 399, 142, 732, 4, 0],
                        backgroundColor: [
                            'rgb(255, 0, 0)',
                            'rgb(255, 128, 0)',
                            'rgb(255, 255, 0)',
                            'rgb(0, 255, 0)',
                            'rgb(0, 255, 255)',
                            'rgb(127, 0, 255)',
                        ],
                        borderColor: [
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)',
                        ],
                        borderWidth: 2,
                    }]
            };
            //config for third donut graph
            const configRace = {
                type: 'doughnut',
                data: dataRace,
                options: {
                    cutoutPercentage: 80,
                    animation: {
                        animateScale: true,
                    }
                }   
            };
            //render third graph
            const raceDonutGraph = new Chart(
                document.getElementById('raceDonutGraph'),
                configRace
            );
        </script>

    </body>
</html>