<!DOCTYPE html>
<html>
    <head>
        <title>
            FollowUps
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" href="css/style.css" rel="stylesheet">
    </head>

    <input type="checkbox" name="" class="tab-btn"/>

    <div class="dropdown-container">
        <input type="checkbox" name="" id="" class="dropdown-btn">
        <div class="dropdown-list">
             
            <a href="/applications">Applications</a> 
            <a href="/bloodA1C">Blood A1C</a> 
            <a href="/bloodPressure">Blood Pressure</a>   
            <a href="/cholesterol">Cholesterol</a> 
            <a href="/demographics">Demographics</a> 
            <a href="/followups">Follow-ups</a> 
            <a href="/noShowPatient">No Show Patients</a> 
            <a href="/patientAccessibility">Patient Accessibility</a> 
            <a href="/patientArrivalTime">Patient Arrival Times</a> 
            <a href="/patientEncounter">Patients Encountered</a> 
            <a href="/patientEnrollYear">Patient Enrolled Years</a> 
            <a href="/patientReferredMassClinic">Mass Clinic Referrals</a> 
            <a href="/patientReferredToTelehealth">Telehealth Referrals</a> 
            <a href="/patientTypeServe">Type of Patients Served</a> 
            <a href="/pctChronicCare">Chronic Care Percentages</a> 
            <a href="/pctEligibleHealthCare">Eligible for Prescription Assistance</a> 
            <a href="/pctFiftyPerGeneralFollowUp">Possibility of Follow-up Appointment Percentages</a> 
            <a href="/pctPrescriptApp">Patients Eligible for Prescription Assistance</a> 
            <a href="/pctTwentyPerReferral">Eligible for Health Care Coverage</a> 
            <a href="/placeOfCare">Place of Care</a> 
            <a href="/providedScreening">Provided Screenings</a> 
            <a href="/twentyFivePerTelehealthReferred">Patients Referred to Telehealth Percentages</a> 
            <a href="/uniquePatientInYear">Unique Patients Seen by Year</a> 
            <a href="/volunteers">Volunteers</a> 
        </div>    
    </div> 

    <div class="nav-bar">
        <ol>
            <li><a href="/">Main Dashboard</a></li>
            <li><a href="/DashPatientsEncountered">Patients Encountered</a></li>
            <li><a href="/DashPatientGoalOutcomes">Patient Goal & Outcomes</a></li> 
            <li><a href="/DashDemographics">Demographics</a></li>
            <li><a href="/DashPatientAppointments">Patient Appointments</a></li>
        </ol>
    </div>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <div class="content">
        <h1 class="header">Patient Follow Up Appointments</h1>
        <table class="data_table" id="followups_table" >
            <tr>
                <th>Type of Patient</th>
                <th>Amount of People referred</th>
                <th>Year</th>
            </tr>
            <% followups.forEach(function(o) { %>
                <tr><td><%= o.PatientType %></td> <td><%= o.PatientAmount %></td><td><%= o.RecordedYear %></td></tr>
            <% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="new-line">
            <label>Select Recored Year</label>
            <select id="time-frame" name="time-frame">
                <option>All Years</option>
            </select>
        </div>
        <script>
            let referralsDataArray =[];
            let referralsLabelArray = [];
            let usedArray = [];
            let specifcLabelsArray = [];
            let referralsYearArray = [];

            function arrayTable(table_id){
                let table = document.getElementById(table_id).rows;
                for(let i = 1; i<table.length; i++ ){
                        referralsLabelArray.push(table[i].cells[0].childNodes[0].nodeValue + " " + table[i].cells[2].childNodes[0].nodeValue);
                        referralsDataArray.push({ToFrom:table[i].cells[0].childNodes[0].nodeValue,PatientAmount:table[i].cells[1].childNodes[0].nodeValue,RecordedYear:table[i].cells[2].childNodes[0].nodeValue});
                        referralsYearArray.push(table[i].cells[2].childNodes[0].nodeValue);
                }
                
            }

            function desiredArray(year, fullArray){
                let tempArray = [];
                if(year == "All Years"){   
                    for(let i = 0; i<fullArray.length; i++){
                        tempArray.push(fullArray[i].PatientAmount);
                    }
                    return tempArray;
                }
                else{
                    for(let i = 0; i<fullArray.length ; i++){
                        if(fullArray[i].RecordedYear == year){
                            tempArray.push(fullArray[i].PatientAmount);
                        }
                    }
                    return tempArray;
                }
            }

            function desiredLabels(year, fullArray){
                let tempArray = [];
                if(year == "All Years"){    
                    return fullArray;
                }
                else{
                    tempArray.push("Diebetic " + year, "Hypertensive " + year, "Dual " +year);
                }
                return tempArray;
            }

            arrayTable("followups_table");
            usedArray = desiredArray("All Years", referralsDataArray);
            specifcLabelsArray = desiredLabels("All Years", referralsLabelArray);


            function generateChart(labelArray, dataArray,year){
                let colorOptions = [];
                if(year = "All years"){
                    for(let i = 1; i <= dataArray.length; i++){
                        if(i <= dataArray.length / 3){
                            colorOptions.push('rgb(66, 179, 229 )');
                        }
                        else if(i > dataArray.length / 3 && i <= ((dataArray.length / 3) * 2)){
                            (colorOptions.push('rgb(23, 195, 178 )'))
                        }
                        else{
                            colorOptions.push('rgb(3, 132, 206 )')
                        }
                    }
                }
                const labels = labelArray;
                const data = {
                labels: labels,
                datasets: [{
                    label: 'FollowUps',
                    backgroundColor:colorOptions,
                    data: dataArray
                }]
                };
            
                const config = {
                    type: 'bar',
                    data,
                    options: {}
                };

                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );

                return myChart;
            }

            function addSelectYears(DataArray){
                let select = document.getElementById('time-frame');
                let years = [];
                years = [... new Set(DataArray)]
                for(let i = 0; i <years.length; i++){
                    let option = document.createElement("option");
                    option.text = years[i];
                    select.add(option);
                }
                
            }

            let globalChart = generateChart(specifcLabelsArray,usedArray);
            addSelectYears(referralsYearArray);

            document.getElementById('time-frame').addEventListener('change', function() {
                let dataArray = desiredArray(this.value, referralsDataArray);
                let labelArray = desiredLabels(this.value, referralsLabelArray);
                globalChart.destroy();
                globalChart = generateChart(labelArray,dataArray);

            });
        </script>
        </div>
    </body>
</html>