<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page for Dashboard
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="css/mainDashboard.css">
    </head>
    <body>
        <div class="top">
            <h1 class="top-page">Mass Clinic Dashboard</h1>
            <div class="dropdown">
                <button class="dropbtn">Options</button>
                <div class="dropdown-content">
                    <a href="/patientReferredMassClinic">Mass Clinic Referrals</a>
                    <a href="/followups">Followups</a>
                    <a href="/demographics">Demographics</a>
                    <a href="/volunteers">Volunteers</a>
                    <a href="/applications">Applications</a> 
                    <a href="/patientArrivalTime">Arrival Times for Patients</a>
                    <a href="/patientAccessibility">Patient Accessibility</a>
                    <a href="/pctTwentyPerReferral">Patient Referral Goal</a>
                    
                </div>
            </div>
        </div>
        <hr>

        <input type="checkbox" name="" class="tab-btn"/>
        <div class="nav-bar">
            <ol>
                <li><a href="#">Patients Encountered</a></li>
                <li><a href="#">Patient Goal & Outcomes</a></li> <!--from excel sheet: outcomes, HTN diabetic-->
                <li><a href="#">Demographics</a></li>
                <li><a href="#">Patient Appointments</a></li> <!--from excel sheet: arrivalTime, accessibility, noShow, lastYearSeen, uniquePatient, appointmentType-->
            </ol>
        </div>

        <a class="chart" href="/patientReferredMassClinic">Mass Clinic Referrals</a>
        <a class="chart" href="/demographics">Demographics</a>
        <a class="chart" href="/followups">Followups</a>
        <a class="chart" href="/volunteers">Volunteers</a>
        <a class="chart" href="/applications">Applications</a> 
        <a class="chart" href="/patientArrivalTime">Arrival Times for Patients</a>
        <a class="chart" href="/patientAccessibility">Patient Accessibility</a>
        <a class="chart" href="/pctTwentyPerReferral">Patient Referral Goal</a>

        
    </body>
</html>
