<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page for Dashboard
        </title>

        <style>
            .dropbtn {
                background-color: blue;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {background-color: white;}

            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: blue;}
        </style>
    </head>
    <body>
        <h1>Home page</h1>
        <a href="/referrals">Referrals</a>
        <a href="/patients">Patients</a>
        <a href="/options">Options</a>
		<a href="/medVolunteers">Medical Volunteers</a>
        <a href="/insurance">Insurance</a>
        <a href="/followups">Followups</a>
        <a href="/volunteers">Volunteers</a>


        <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content">
                <a href="/patients">Patients</a>
                <a href="/medVolunteers">Volunteers</a>
                <a href="/referrals">Referrals</a>
                <a href="/followups">Followups</a>
                <a href="/options">Options</a>
                <a href="/insurance">Insurance</a>
                <a href="/volunteers">Volunteers</a>
            </div>
        </div>
    </body>
</html>
