<!DOCTYPE html>
<html>
    <head>
        <title>
            Medical Volunteers
        </title>
		<style>
            *{
                margin: 0px;
                padding: 0px;
                padding-top: 20px ;
            }
            
            h1{
                text-align: center;
                margin: 0px auto;
                width: 50%;
            }
            table{
                border-collapse: collapse;
            }
            table, td, th{
                border: 1px solid black ;
                text-align: center;
                padding:5px;
            }
            #canvas_container{
                margin:0px auto ;
                height: 200px;
                width: 25%;
            }
            .data_table{
                visibility: collapse;
            }
        </style>
    </head>
    <body>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <h1>Medical Volunteers</h1>
        <p><a href="/"><button>Home</button></a></p>
		
		<table class="data_table" id="medVol_table" >
            <tr>
				<th>Type</th>
                <th>Amount of Volunteers</th>
                <th>Year</th>
            </tr>
			<% med_volunteers.forEach(function(o) { %>
            <tr><td><%= o.VolunteerType %></td> <td><%= o.VolunteerAmount %></td><td><%= o.RecordedYear %></td></tr>
			<% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
		
		<script>
			let medVolTypeArray = [];
            let medVolAmountArray =[];
            let medVolRecoredYear = [];
            function arrayTable(table_id){
                let table = document.getElementById(table_id).rows;
                for(let i = 1; i<table.length; i++ ){
                        medVolTypeArray.push(table[i].cells[0].childNodes[0].nodeValue);
                        medVolAmountArray.push(table[i].cells[1].childNodes[0].nodeValue);
                        medVolRecoredYear.push(table[i].cells[2].childNodes[0].nodeValue);
                }
                
            }

            arrayTable("medVol_table");

            const labels = [
                "To 2019", 
                "To 2020", 
                "To 2021",
                "From 2019",
                "From 2020",
                "From 2021"
                ];
                const data = {
                labels: labels,
                datasets: [{
                    label: 'Medical Volunteers',
                    backgroundColor: 'rgb(100, 200, 132)',
                    
                    data: medVolAmountArray,
                }]
                };
            
                const config = {
                    type: 'bar',
                    data,
                    options: {}
                };

                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
        </script>
    </body>
</html>