<!DOCTYPE html>
<html>
    <head>
        <title>
            Medical Volunteers
        </title>
    </head>
    <body>
        <h1>Medical Volunteers</h1>
        <p><a href="/"><button>Home</button></a></p>
        <% med_volunteers.forEach(function(o) { %>
            <li ><span><%= o.name %> <%= o.year %></span></li>
        <% }); %>
    </body>
</html>