<!DOCTYPE html>
<html>
    <head>
        <title>
            Full Options Listed
        </title>
    </head>
    <body>
        <h1>Options</h1>
        <p><a href="/"><button>Home</button></a></p>
        <% options.forEach(function(o) { %>
            <li ><span><%= o.choice %> </span></li>
        <% }); %>
    </body>
</html>

<!--test comment-->