<!DOCTYPE html>
<html>
    <head>
        <title>
            Patient Screenings
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            *{
                margin: 0px;
                padding: 0px;
                padding-top: 20px ;
            }
            a{
                padding-left: 10px;
            }
            
            h1{
                text-align: center;
                margin: 0px auto;
                width: 50%;
            }
            table{
                border-collapse: collapse;
            }
            table, td, th{
                border: 1px solid black ;
                text-align: center;
                padding:5px;
            }
            #canvas_container{
                margin:0px auto ;
                height: 270px; /*originially 200px 25%*/
                width: 35%;
            }
            .data_table{
                visibility: collapse;
            }
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <a href="/">Home</a> 
        <h1 class="header">Patient Screenings</h1>
        <div id="canvas_container">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        
        <script>
          const labels = [
            '2011',
            '2012',
            '2013',
            '2014',
            '2015',
            '2016',
          ];
        
          const data = {
            labels: labels,
            datasets: [{
              label: 'Patient Screenings',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: [0, 10, 5, 2, 12, 3, 6],
            }]
          };
        
          const config = {
            type: 'bar',
            data: data,
            options: {}
          };
      
          const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );

        </script>
    </body>
</html>

