<!DOCTYPE html>
<html>
    <head>
        <title>
            Referrals to and from Mass clinic
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link type="text/css" href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <a href="/">Home</a> 
        <h1 class="header">Referrals To and From Mass Clinic</h1>
        <table class="data_table" id="patient_table" >
            <tr>
                <th>ToFrom</th>
                <th>PatientAmount</th>
                <th>RecordedYear</th>
            </tr>
            <% patients.forEach(function(o) { %>
                <tr><td><%= o.ToFrom %></td> <td><%= o.PatientAmount %></td><td><%= o.RecordedYear %></td></tr>
            <% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="new-line">
            <label>Select Recored Year</label>
            <select id="time-frame" name="time-frame">
                <option>All Years</option>
            </select>
        </div>
        <script src="javascript/array.js" type="text/javascript"></script>
    <script>
        const chosenField = "PatientAmount";
        let dataArray = returnArrayFromTable("patient_table");
        
        let years = makeYearArray(dataArray, "RecordedYear");
        addSelectYears(years);
        
        let valuesArray = desiredArrayByYear("All Years", dataArray, chosenField);
        console.log(dataArray);
        let labelArray = makeLabelArray(dataArray, "ToFrom", true);
        let colorArray = makeMultipleColorArray( 2, false, years.length);
        console.log();
        let globalChart = generateChart(labelArray, valuesArray, colorArray, "Number Of Patients", 'bar' )
        

        document.getElementById('time-frame').addEventListener('change', function() {
                let changedDataArray = dataArrayByYear(dataArray, this.value, "RecordedYear");
                let changedValuesArray = desiredArrayByYear(this.value, dataArray, chosenField);
                let changedLabelArray = makeLabelArray(changedDataArray, "ToFrom", true);
                let changedColorArray = [];
                if(this.value == "All Years"){
                    changedColorArray = makeMultipleColorArray(2, false, years.length);
                }
                else{
                    changedColorArray = makeMultipleColorArray(2, true, 1);
                }
                globalChart.destroy();
                globalChart = generateChart(changedLabelArray, changedValuesArray, changedColorArray, "Number Of Patients", 'bar');
            });

    </script>
        
    </body>
</html>

