<!-- <!DOCTYPE html>
<html>
    <head>
        <title>
            Patient Screenings 
        </title>
    </head>
    <body>
        <h1>Screenings</h1>
        <p><a href="/"><button>Home</button></a></p> 
        <% patient.forEach(function(p) { %>
            <li><span>Id:  <%= p.userId %>, Number of Screenings:  <%= p.screenings %>, Year:  <%= p.year %></span></li>
        <% }); %>
    </body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            Patient Screenings
        </title>
        <h1><a href="/">Home</a></h1>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const labels = [
      '2011',
      '2012',
      '2013',
      '2014',
      '2015',
      '2016',
    ];
  
    const data = {
      labels: labels,
      datasets: [{
        label: 'Patient Screenings',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 12, 3, 6],
      }]
    };
  
    const config = {
      type: 'bar',
      data: data,
      options: {}
    };
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>