<!DOCTYPE html>
<html>
    <head>
        <title>
            Patients 
        </title>
    </head>
    <body>
        <h1>Patients Dashboard</h1>
        <p><a href="/"><button>Home</button></a></p> 
            <li><span>Id:  <%= patients.userId %>,  Patient Type:  <%= patients.type%></span></li>
    </body>
</html>
