<!DOCTYPE html>
<html>
    <head>
        <title>
            Referrals
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            *{
                margin: 0px;
                padding: 0px;
                padding-top: 20px ;
            }
            
            h1{
                text-align: center;
                margin: 0px auto;
                width: 50%;
            }
            table{
                border-collapse: collapse;
            }
            table, td, th{
                border: 1px solid black ;
                text-align: center;
                padding:5px;
            }
            #canvas_container{
                margin:0px auto ;
                height: 200px;
                width: 25%;
                display: block;
            }
            .data_table{
                visibility: collapse;
            }
            .new-line{
                display: block;
                margin: 200px 40%;
            }
            select{
                width:120px;
                height: 40px;
            }
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <a href="/">Home</a> 
        <h1 class="header">Referrals To and From Mass Clinic</h1>
        <table class="data_table" id="referral_table" >
            <tr>
                <th>To or From</th>
                <th>Amount of People referred</th>
                <th>Year</th>
            </tr>
            <% referrals.forEach(function(o) { %>
                <tr><td><%= o.ToFrom %></td> <td><%= o.PatientAmount %></td><td><%= o.RecordedYear %></td></tr>
            <% }); %>
        </table>
        <div id="canvas_container">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="new-line">
            <label>Select Recored Year</label>
            <select id="time-frame" name="time-frame">
                <option>All Years</option>
            </select>
        </div>
        
        <script>
            let referralsDataArray =[];
            let referralsLabelArray = [];
            let usedArray = [];
            let specifcLabelsArray = [];
            let referralsYearArray = [];

            function arrayTable(table_id){
                let table = document.getElementById(table_id).rows;
                for(let i = 1; i<table.length; i++ ){
                        referralsLabelArray.push(table[i].cells[0].childNodes[0].nodeValue + " " + table[i].cells[2].childNodes[0].nodeValue);
                        referralsDataArray.push({ToFrom:table[i].cells[0].childNodes[0].nodeValue,PatientAmount:table[i].cells[1].childNodes[0].nodeValue,RecordedYear:table[i].cells[2].childNodes[0].nodeValue});
                        referralsYearArray.push(table[i].cells[2].childNodes[0].nodeValue);
                }
                
            }

            function desiredArray(year, fullArray){
                let tempArray = [];
                if(year == "All Years"){   
                    for(let i = 0; i<fullArray.length; i++){
                        tempArray.push(fullArray[i].PatientAmount);
                    }
                    return tempArray;
                }
                else{
                    for(let i = 0; i<fullArray.length ; i++){
                        if(fullArray[i].RecordedYear == year){
                            tempArray.push(fullArray[i].PatientAmount);
                        }
                    }
                    return tempArray;
                }
            }

            function desiredLabels(year, fullArray){
                let tempArray = [];
                if(year == "All Years"){    
                    return fullArray;
                }
                else{
                    tempArray.push("To " + year, "From " + year);
                }
                return tempArray;
            }

            arrayTable("referral_table");
            usedArray = desiredArray("All Years", referralsDataArray);
            specifcLabelsArray = desiredLabels("All Years", referralsLabelArray);


            function generateChart(labelArray, dataArray,year){
                let colorOptions = [];
                if(year = "All years"){
                    for(let i = 1; i <= dataArray.length; i++){
                        if(i <= dataArray.length / 2){
                            colorOptions.push('rgb(100, 200, 132)');
                        }
                        else(colorOptions.push('rgb(20, 20, 132)'))
                    }
                }
                const labels = labelArray;
                const data = {
                labels: labels,
                datasets: [{
                    label: 'Referrals To Mass Clinic',
                    backgroundColor:colorOptions,
                    data: dataArray
                }]
                };
            
                const config = {
                    type: 'bar',
                    data,
                    options: {}
                };

                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );

                return myChart;
            }

            
            
            function addSelectYears(DataArray){
                let select = document.getElementById('time-frame');
                let years = [];
                years = [... new Set(DataArray)]
                for(let i = 0; i <years.length; i++){
                    let option = document.createElement("option");
                    option.text = years[i];
                    select.add(option);
                }
                
            }

            

            let globalChart = generateChart(specifcLabelsArray,usedArray);
            addSelectYears(referralsYearArray);

            document.getElementById('time-frame').addEventListener('change', function() {
                let dataArray = desiredArray(this.value, referralsDataArray);
                let labelArray = desiredLabels(this.value, referralsLabelArray);
                globalChart.destroy();
                globalChart = generateChart(labelArray,dataArray);

            });
        </script>
    </body>
</html>

