*{
    margin: 0px;
    padding: 0px;
    padding-top: 20px ;
}
a{
    padding-left: 10px;
}
h1{
    text-align: center;
    margin: 0px auto;
    width: 50%;
}
table{
    border-collapse: collapse;
}
table, td, th{
    border: 1px solid black ;
    text-align: center;
    padding:5px;
}
#canvas_container{
    margin:0px auto ;
    height: 200px;
    width: 25%;
}
.data_table{
    visibility: collapse;
}
.new-line{
    display: block;
    margin: 200px 40%;
}
select{
    width:120px;
    height: 40px;
}